* {
  font-family: sans-serif;
}
body {
  background-color: rgb(24, 24, 24);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(24, 24, 24);
}
::-webkit-scrollbar-thumb {
  background: red;
}
